
{{- define "md.valuesTable" }}

| Key | Type | Default | Description |
|-----|------|---------|-------------|
{{- range .ValuesTable }}
{{- "\n" }}
{{- printf "| %s " (mdMultiline .Key) }}
{{- printf "| %s " (mdMultiline .Type) }}
{{- printf "| `%s` " (mdMultiline .Default) }}
{{- printf "| %s " (mdMultiline .Description) }}
{{- "|" }}
{{- end }}
{{- end }}
