
{{- define "rst.valuesTable" }}
| Key | Type | Default | Description |
|-----|------|---------|-------------|
  {{- range .Values }}
    {{- "\n| "}}{{ .Key }}
    {{- " | "}}{{ .Type }}
    {{- " | "}}{{ .Default }}
    {{- " | "}}{{ .Description }}
    {{- " | "}}
  {{- end }}
{{- end }}
